# Database
DATABASE_URL=postgresql://user:password@localhost:5432/webvise

# Authentication (Better-Auth)
BETTER_AUTH_SECRET=your-secret-key-min-32-characters
BETTER_AUTH_URL=http://localhost:3001

# CORS
CORS_ORIGIN=http://localhost:3001

# Posthog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_your_project_key
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# Environment
NODE_ENV=development
